<template name="Room">
<div class="room">
	{{#if Template.subscriptionsReady}}
		{{> _Room room=getRoom accesscode=accesscode}}
	{{else}}
		<h2>Loading</h2>
	{{/if}}
</div>
</template>

<template name="_Room">
<div class="room">
	<h1>Access Code: {{accesscode}}</h1>
	<h2>Players ({{room.users.length}}/{{room.capacity}}):</h2>
	<p>
		<strong>{{players.length}} users are playing: </strong>
		{{#each player in players}}
			{{player.nick_name}}
		{{/each}}
	</p>
	<p>
		<strong>{{spectators.length}} users are spectating: </strong>
		{{#each spectator in spectators}}
			{{spectator.nick_name}}
		{{/each}}
	</p>
	<br/>
	Game:
	{{#if room.game_id}}
		<div class="ui container game">
			{{> CodeNames gameId=room.game_id}}
		</div>
	{{else}}
		<h2>No game is currently being played</h2>
	{{/if}}
	<br/>
	{{> Chat accesscode=accesscode}}
	<br/>

	<a class="ui button js-start-game">Start Game</a>
	<a class="ui button js-stop-game">Stop Game</a>
	<a class="ui button js-join-game">Join Game</a>
	<a class="ui button js-leave-game">Leave Game</a>
	<a class="ui button js-leave-room">Leave Room</a>
</div>
</template>
