$dimgray: dimgray;

.chat{
	.message {
		.text {
			text-align: right;
			clear: both;
			display: block;
		}
		.author {
			float: right;
			color: $dimgray;
			font-style: italic;
		}
		&.input {
			clear: both;
		}
	}
}
